body {
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(97, 246, 97);
    display: flex;
    align-items: center;
    justify-content: center;
}

.shape {
    height: 100px;
    width: 100px;
    background-color: white;
    transition: all 0.5s ease;
}

.change-shape {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

#bg-change {
    margin: 20px 0;
}